<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
  </head>
  <body>
    <p>
      <div id="speech" class="area">
        <select id="voice">
        </select>
        <input id="speech-text" class="input_text" type="text" />
        <input id="send-text" class="button" type="button" value="テキスト発話" />
      </div>
      <div id="dialog" class="area">
        <input id="dialog-text" class="input_text" type="text" />
        <input id="send-dialog" class="button" type="button" value="会話を送る" />
      </div>
      <input type="checkbox" id="enter_key_flag" checked="true"><label for="enter_key_flag">送信後テキストを消す</label>
    </p>
    <p>
      <div id="status-message" class="text"></div>
    </p>
    <script src="{{ static_url("jquery-1.12.0.min.js") }}"></script>
    <script src="{{ static_url("main.js") }}"></script>
  </body>
</html>
